.sender {
    display: flex;
    left: 0;
    top: 0;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.split-pane-custom {
    width: 100% !important;
    height: 100% !important;
    padding: 1em;
    box-sizing: border-box;
    border: none !important;
    left: 0;
    top: 0;
}

.split-pane-pane-custom {
    background: var(--accent-bg);
    overflow-x: hidden;
}

.split-pane-pane-custom.left {
    border-radius: 1em 0 0 1em;
}

.split-pane-pane-custom.left div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;

    div {
        display: block;
        flex-direction: column;
    }

    .document-renderer {
        height: 100%;
        max-height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .react-pdf__Page {
            display: flex;
            justify-content: center;
            max-height: 100% !important;
            width: 100%;
            height: auto;
            padding: 0 !important;

            canvas {
                max-height: 100% !important;
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}

.page-button {
    background: var(--accent);
    color: black;
    font-weight: bold;
    height: 3em;
    border: none;
    box-shadow: var(--shadow);
    transition: all 0.2s ease;
    margin: 1px;
}

.page-button:hover {
    filter: brightness(0.8);
}

.page-button.previous {
    border-radius: 1em 0 0 1em;
    width: 5em;
}

.page-button.next {
    border-radius: 0 1em 1em 0;
    width: 8em;
}

.split-pane-pane-custom.right {
    border-radius: 0 1em 1em 0;
}

.split-pane-pane-custom.right {
    padding: 1em;
    box-sizing: border-box;
}

.split-pane-divider {
    cursor: col-resize;
    background: #e0e0e0;
    opacity: 0.2;
    z-index: 1;
    box-sizing: border-box;
    background-clip: padding-box;
}

.split-pane-divider:hover {
    transition: all 0.2s ease;
}

.split-pane-divider:focus {
    outline: 5px solid #2196f3;
    outline-offset: -5px;
}

.split-pane-divider.horizontal {
    width: 20px;
    margin: 0 calc(-1 * var(--slider-width));
    border-left: var(--slider-width) solid rgba(255, 255, 255, 0);
    border-right: var(--slider-width) solid rgba(255, 255, 255, 0);
    cursor: col-resize;
    background: white;
}

.split-pane-divider.horizontal:hover {
    border-left: var(--slider-width) solid rgba(0, 0, 0, 0.5);
    border-right: var(--slider-width) solid rgba(0, 0, 0, 0.5);
}
