:root {
  --text: #4b5563;
  --text-h: #111827;

  --bg: #f9fafb;

  --accent: #16a34a;
  --accent-bg: #eaf7ef;
  --card: #ffffff;

  --shadow:
    rgba(0, 0, 0, 0.08) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --slider-width: 5px;
  --slider-color: var(--bg);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;

    --bg: #16171d;

    --accent: #22c55e;
    --accent-bg: #161c18;
    --card: #1a1d23;

    --shadow:
            rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
            rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

body {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 100vw;
  margin: 0 0;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 3em;
  letter-spacing: -1.68px;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  letter-spacing: -0.24px;
}

h3, h4 {
  font-weight: 700;
  margin: 0;
  paddign: 0;
}

h3 {
  margin-top: 1em;
  font-size: 1.2em;
}

h4 {
  margin-top: 0.5em;
  font-size: 1em;
}

p {
  margin: 0 0;
  padding: 0;
}

a {
  color: var(--accent);
  opacity: 0.7;
  text-decoration: none;
}

ul {
  margin: 0;
  margin: 0.1em;
  padding: 0;
  padding-left: 1em;
}